*{
	margin:0;
	padding: 0;
	box-sizing: border-box;

}

.menu {
	width: 200px;
	height: 200px;
	border: 2px solid black;
	background-color: grey;
	text-align: center;
	padding: 5em;
}

#drow {
	display: none;
}

#box1 {
	border: 2px solid black;
	background-color: grey;
	height: 35px;
}
#box2 {
	border: 2px solid black;
	background-color: grey;
	height: 35px;
}
#box3 {
	border: 2px solid black;
	background-color: grey;
	height: 35px;
}
#box4 {
	border: 2px solid black;
	background-color: grey;
	height: 35px;
}
#box5 {
	border: 2px solid black;
	background-color: grey;
	height: 35px;
}
#box6 {
	border: 2px solid black;
	background-color: grey;
	height: 35px;
}
#box7 {
	border: 2px solid black;
	background-color: grey;
	height: 35px;
}
#box8 {
	border: 2px solid black;
	background-color: grey;
	height: 35px;
}
#box9 {
	border: 2px solid black;
	background-color: grey;
	height: 35px;
}
#box10 {
	border: 2px solid black;
	background-color: grey;
	height: 35px;
}
#box11 {
	border: 2px solid black;
	background-color: grey;
	height: 35px;
}
#box12 {
	border: 2px solid black;
	background-color: grey;
	height: 35px;
}